@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
* {
  font-family: lato;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p, span, tr, td {
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
}

@keyframes loader__ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hamburguesa-cien {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes hamburguesa-ochenta {
  from {
    width: 80%;
  }
  to {
    width: 0;
  }
}
@keyframes close-hamburguesa-cien {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes close-hamburguesa-ochenta {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes close-hamburguesa-firts {
  from {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
    opacity: 0;
  }
}
@keyframes close-hamburguesa-second {
  from {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
    opacity: 0;
  }
}
@keyframes fade-from-top {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-defecto {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
.carros {
  width: 90%;
  max-width: 1600px;
  margin: 80px auto;
}
.carros__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.carros__titulo {
  font-size: 44px;
  text-align: center;
  margin: 60px auto;
  color: #042F72;
}
.carros__imagen {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.header {
  width: 100%;
  position: relative;
  z-index: 9;
}
.header__top {
  width: 100%;
  background-color: #042F72;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__left {
  padding-left: 30px;
}
.header__top__left__iconos {
  font-size: 18px;
  color: #fff;
  margin-right: 6px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.header__top__left__iconos:hover {
  opacity: 0.9;
}
.header__top__right {
  padding: 10px 30px 10px 30px;
  background-color: #414241;
  transition: 0.3s all ease;
}
.header__top__right:hover {
  background-color: #042F72;
}
.header__top__right:hover .header__top__lenguaje__texto {
  color: #fff;
}
.header__top__lenguaje {
  display: flex;
  gap: 10px;
}
.header__top__lenguaje__texto {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.header__top__lenguaje__icono {
  max-width: 25px;
  object-fit: contain;
  border-radius: 1px;
}
.header__bottom {
  position: absolute;
  left: 0;
  top: 39.1px;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.56) 55%, rgba(0, 0, 0, 0.16) 85%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.8s opacity ease;
}
.header__bottom__svg {
  width: 100%;
  max-width: 250px;
  object-fit: contain;
}
.header__bottom.animation {
  top: 0;
  opacity: 0;
}
.header__bottom.active {
  top: 0;
  opacity: 1;
  position: fixed;
}
.header__hamburguesa {
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  background-color: #414241;
  padding: 40px 30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all ease;
}
.header__hamburguesa.active {
  opacity: 1;
  pointer-events: all;
}
.header__hamburguesa__car {
  position: fixed;
  bottom: -200px;
  right: 0;
}
.header__hamburguesa__car__icon {
  font-size: 500px;
  color: #fff;
  opacity: 0.3;
}
.header__hamburguesa__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px solid #fff;
}
.header__hamburguesa__close {
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.header__hamburguesa__close.active .header__hamburguesa__line:first-child {
  animation: close-hamburguesa-firts 0.5s 1;
  animation-fill-mode: forwards;
}
.header__hamburguesa__close.active .header__hamburguesa__line:nth-child(2) {
  animation: close-hamburguesa-second 0.5s 1;
  animation-fill-mode: forwards;
}
.header__hamburguesa__line {
  height: 100%;
  width: 3px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  left: 50%;
}
.header__hamburguesa__line:first-child {
  transform: rotate(-50deg);
}
.header__hamburguesa__line:nth-child(2) {
  transform: rotate(50deg);
}
.header__hamburguesa__middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
}
.header__hamburguesa__titulo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.header__hamburguesa__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__hamburguesa__link {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  position: relative;
}
.header__hamburguesa__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  transition: 0.3s all ease;
}
.header__hamburguesa__link:hover::after {
  width: 100%;
}
.header__hamburguesa__bloque {
  margin-bottom: 60px;
  animation: fade-defecto 1s;
  animation-fill-mode: forwards;
}
.header__hamburguesa__bloque.active {
  animation: fade-from-top 1s;
}

.hamburguesa {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 40px;
  height: 50px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}
.hamburguesa__line {
  height: 4px;
  border-radius: 100px;
  background: #fff;
  width: 100%;
  transition: 0.3s all ease;
  animation-duration: 0.6s;
  animation-name: close-hamburguesa-cien;
}
.hamburguesa__line:last-child {
  width: 80%;
  animation-name: close-hamburguesa-ochenta;
}
.hamburguesa.active .hamburguesa__cien {
  animation-name: hamburguesa-cien;
  animation-fill-mode: forwards;
}
.hamburguesa.active .hamburguesa__cien:nth-child(1) {
  animation-delay: 0.25s;
}
.hamburguesa.active .hamburguesa__cien:nth-child(2) {
  animation-delay: 0.2s;
}
.hamburguesa.active .hamburguesa__ochenta {
  animation-name: hamburguesa-ochenta;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

@media (max-width: 768px) {
  .header__hamburguesa__middle {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    overflow-y: auto;
    margin-top: 40px;
  }
  .header__hamburguesa__bloque {
    margin-bottom: 20px;
  }
  .header__hamburguesa__list {
    display: none;
  }
  .header__hamburguesa__list.active {
    display: flex;
  }
  .header__hamburguesa__titulo {
    position: relative;
  }
  .header__hamburguesa__titulo::after {
    position: absolute;
    content: "";
    right: 20px;
    top: calc(50% - 10px);
    width: 2px;
    height: 20px;
    background-color: #fff;
    transition: 0.3s all ease;
  }
  .header__hamburguesa__titulo::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: calc(50% - 1px);
    right: 11.5px;
    background-color: #fff;
  }
  .header__hamburguesa__titulo.active::after {
    height: 0;
  }
}
@media (max-width: 576px) {
  .header__top {
    display: none;
  }
  .header__bottom {
    padding-left: 20px;
    top: 0;
    position: fixed;
  }
  .header__bottom__svg {
    max-width: 120px;
  }
  .header__hamburguesa {
    padding: 20px;
  }
  .header__hamburguesa__close {
    width: 50px;
    height: 33px;
  }
  .header__hamburguesa__top {
    padding-bottom: 10px;
  }
  .header__hamburguesa__car {
    bottom: -60px;
  }
  .header__hamburguesa__car__icon {
    font-size: 200px;
  }
  .header__hamburguesa__titulo {
    font-size: 20px;
  }
  .header__hamburguesa__link {
    font-size: 16px;
  }
}
.banner {
  position: relative;
}
.banner__imagen {
  width: 100%;
  object-fit: contain;
}
.banner .owl-item {
  transition: 0.8s all ease;
  opacity: 0;
}
.banner .owl-item.active {
  opacity: 1;
}

@media (max-width: 576px) {
  .banner__imagen {
    height: 700px;
    object-fit: cover;
  }
}
.owl-dots {
  display: block;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.owl-dots .owl-dot {
  width: 20px;
  height: 10px;
  border-radius: 100px;
  background-color: #fff !important;
  transition: 0.3s all ease;
}
.owl-dots .owl-dot.active {
  background-color: #042F72 !important;
  width: 30px;
}

.owl-nav span {
  display: none;
}

.owl-carousel.banner__owl .owl-prev,
.owl-carousel.banner__owl .owl-next {
  max-width: 20px;
  position: absolute;
  top: calc(50% - 20px);
  transition: 0.3s all ease;
}
.owl-carousel.banner__owl .owl-prev img,
.owl-carousel.banner__owl .owl-next img {
  transition: 0.3s all ease;
}
.owl-carousel.banner__owl .owl-prev {
  left: 15px;
}
.owl-carousel.banner__owl .owl-prev:hover img {
  margin-left: -10px;
}
.owl-carousel.banner__owl .owl-next {
  right: 15px;
}
.owl-carousel.banner__owl .owl-next:hover img {
  margin-right: -10px;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #414241;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s all ease;
}
.loader.hidden {
  opacity: 0;
  pointer-events: none;
}
.loader__ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader__ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader__ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader__ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader__ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader__ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.footer {
  padding: 60px 0 0 0;
  border-top: 3px solid #414241;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__list {
  max-width: 90%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__item {
  color: #414241;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  transition: 0.3s all ease;
}
.footer__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  background-color: #414241;
  left: 0;
  transition: 0.3s all ease;
}
.footer__item:hover::after {
  width: 100%;
}
.footer__redes {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.footer__redes__icono {
  font-size: 22px;
  color: #414241;
  transition: 0.3s all ease;
}
.footer__redes__icono:hover {
  opacity: 0.8;
}
.footer__bottom {
  width: 100%;
  background-color: #414241;
  padding: 10px 0;
  margin-top: 60px;
}
.footer__bottom__derechos {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 576px) {
  .footer__list {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
